.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 170px;
  margin-bottom: 70.4px;
}

h2 {
  font-family: "Milker";
  font-size: 90px;
  align-items: center;
}

.decor-title {
  font-size: 21.92px;
  font-weight: 150;
  text-transform: uppercase;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plushies {
  display: flex;
  gap: 22px;
  align-items: center;
}

.image-artist {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  gap: 16px;
}

.about-artist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.info-artist {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.text-about {
  display: flex;
  gap: 64px;
  font-size: 16px;
  line-height: 145.56%;
  list-style: none;
}

.category {
  font-size: 14px;
  font-weight: 400;
  line-height: 164%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  opacity: 0.5;
}

.text-about ul {
  list-style: none;
}

.spotify {
  display: flex;
  align-items: center;
}

.music-playlist {
  display: flex;
  flex-direction: column;
}

.music-playlist img {
  max-width: max-content;
}

.music-container {
  display: flex;
  justify-content: center;
}

.youtube-videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "video1   video2 "
    "video3   video4 ";
  gap: 36px;
}

.youtube-container {
  display: flex;
  justify-content: center;
}

.video1 {
  grid-area: video1;
}
.video2 {
  grid-area: video2;
}
.video3 {
  grid-area: video3;
}
.video4 {
  grid-area: video4;
}

.waiting {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.wait {
  display: flex;
  justify-content: center;
}
