* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

@font-face {
  font-family: "Milker";
  src: url("/src/fonts/Milker.otf") format(".otf");
}

body {
  display: flex;
  flex-direction: column;
  background-color: #101010;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 4vw;
}

.hero {
  background-color: aqua;
}

nav {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: fixed;
  margin-top: 500px;
  margin-left: 32px;
}

footer {
  width: 100%;
  padding: 48px 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-footer {
  display: flex;
  gap: 54.4px;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-navigation {
  padding: 19.2px 0 19.2px 33.6px;
  gap: 3.2px;
  flex-wrap: wrap;
  border-left: 1px solid #fff;
}

.copyright {
  font-size: 14px;
  letter-spacing: -0.56px;
  opacity: 0.4;
}

.contacts-footer {
  display: flex;
  gap: 9.6px;
}

.investor {
  text-transform: uppercase;
  font-size: 12px;
}

.email {
  display: flex;
  gap: 14.4px;
  opacity: 0.6;
}

.email-address {
  font-size: 12px;
}

.menu {
  display: flex;
  gap: 64px;
  margin-left: 89.6px;
  margin-right: 89.6px;
}

.text-header {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}

.contacts {
  display: flex;
  gap: 14.4px;
  margin-left: auto;
}

.language {
  display: flex;
  margin-left: 64px;
  align-items: center;
  gap: 4.8px;
}

.albums {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35.2px;
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.card-subtitle {
  font-size: 16px;
  opacity: 0.5;
}

.card-title {
  font-size: 18px;
}

.lxve-title {
  font-size: 20px;
  text-decoration: underline;
}

.lxve-album img {
  width: 120%;
}

.lxve-album .info-card .card-subtitle {
  font-size: 16px;
}

.lxve-album .info-card .card-title {
  font-size: 20px;
  text-decoration: underline;
  font-weight: 250px;
}

.slider-dot-control {
  width: 100%;
  bottom: 0;
  text-align: center;
}

label {
  margin-top: 30px;
  cursor: pointer;
  border-radius: 11px;
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  opacity: 0.5;
  transition: all 0.3s;
}

label:hover {
  background: #fff;
  opacity: 1;
}

h3 {
  width: 2.2rem;
  height: 0.3rem;
  border-radius: 0.06rem;
  border: 0.03rem solid #fff;
  opacity: 0.5;
}

.search {
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 8.96px 20.8px 5.92px 20px;
  align-items: center;
  gap: 164.8px;
  background: linear-gradient(90deg, #001b40 0%, #000b1a 100%);
  color: #fff;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 169.6px;
  margin-bottom: 70.4px;
}

.title-main {
  font-family: "Milker";
  font-size: 89.6px;
  text-align: center;
}

.decor-title {
  font-size: 21.92px;
  font-weight: 150;
  text-transform: uppercase;
}

.arrows {
  height: 46.4px;
  width: 46.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 14.4px 14.4px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30.4px;
  padding: 9.6px;
  color: #fff;
  transition: 0.5s;
  backdrop-filter: blur(14.4px);
}

.arrow-left {
  transform: scaleX(-1);
}

.groups {
  display: flex;
  gap: 33.6px;
  align-items: end;
  justify-content: center;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.playlist {
  text-transform: uppercase;
  font-size: 16px;
}

.carousel-music {
  display: flex;
  gap: 100px;
  padding: 49.6px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-top: 169.6px;
}

.glass-label-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 5;
  transform: translateY(-105px);
}

.glass-label {
  display: flex;
  width: max-content;
  align-content: center;
  gap: 172px;
  padding: 52px 56px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 14.4px 14.4px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(14.4px);
}

.chiffre {
  font-family: "Milker";
  font-size: 60px;
}

.title-chiffre {
  font-size: 18px;
  text-transform: uppercase;
}

.example-impact {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 175px;
}

.impact {
  display: flex;
  padding: 6px 48px;
  align-items: center;
  gap: 9.6px;
  border-radius: 100px;
  border: 0.48px solid #fff;
  background-color: transparent;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 20px;
  color: #fff;
}

.glass-label .info-impact:nth-child(1) .chiffre {
  color: #ff4f4f;
}

.glass-label .info-impact:nth-child(2) .chiffre {
  color: #ffff4f;
}

.glass-label .info-impact:nth-child(3) .chiffre {
  color: #4f9eff;
}

.upcoming-container {
  display: flex;
  gap: 34px;
}

.upcoming-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-label {
  font-family: Milker;
  font-size: 25px;
  display: inline-flex;
  padding: 8px 21px;
  align-items: center;
  gap: 10px;
  border-radius: 31px;
  background: rgba(190, 9, 9, 0.4);
  box-shadow: 0 14.4px 14.4px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(14.4px);
}

.upcoming-container {
  display: flex;
  justify-content: center;
}
