* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

@font-face {
  font-family: "Milker";
  src: url("/src/fonts/Milker.otf") format(".otf");
}

body {
  background-color: #101010;
  color: white;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header header "
    "hero   hero   hero "
    "nav    main   main     "
    "footer footer footer ";
  margin: 40px 68px 0px 68px;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
}

.hero {
  grid-area: hero;
  background-color: aqua;
}

nav {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  grid-area: nav;
  background-color: antiquewhite;
}

main {
  grid-area: main;
  background-color: blue;
}

footer {
  grid-area: footer;
  background-color: aquamarine;
}

.menu {
  display: flex;
  gap: 65px;
  margin-left: 165px;
}

.text-header {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.contacts {
  display: flex;
  gap: 15px;
  margin-left: 354px;
}

.language {
  display: flex;
  margin-left: 64px;
  align-items: center;
  gap: 5px;
}

.down-arrow {
  width: 14px;
}

.albums {
  display: flex;
  gap: 35px;
}

h3 {
  width: 35px;
  height: 5px;
  border-radius: 1px;
  border: 0.5px solid var(--base-white-100, #fff);
  opacity: 0.5;
}

.search {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 20px;
  width: auto;
  padding: 9px 21px 6px 20px;
  justify-content: center;
  align-items: center;
  gap: 165px;
  background: linear-gradient(90deg, #001b40 0%, #000b1a 100%);
  color: #fff;
}
