* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

@font-face {
  font-family: "Milker";
  src: url("/src/fonts/Milker.otf") format(".otf");
}

body {
  display: flex;
  flex-direction: column;
  background-color: #101010;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  align-items: center;
  margin: 40px 68px 0px 68px;
}

.hero {
  background-color: aqua;
}

nav {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: fixed;
  margin-top: 500px;
  margin-left: 32px;
}

main {
  margin: 40px 68px 0px 68px;
}

footer {
  display: flex;
  align-items: center;
  gap: 117px;
  margin: 170px auto 0px 62px;
}

.nav-footer {
  display: flex;
  gap: 55px;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-navigation {
  padding: 19px 0 19px 34px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 3px;
  flex-wrap: wrap;
  border-left: 1px solid #fff;
}

.copyright {
  font-size: 14px;
  letter-spacing: -0.56px;
  opacity: 0.4;
}

.contacts-footer {
  display: flex;
  gap: 10px;
}

.investor {
  text-transform: uppercase;
  font-size: 12px;
}

.email {
  display: flex;
  gap: 15px;
  opacity: 0.6;
}

.email-address {
  font-size: 12px;
}

.info-contact-footer {
  margin-left: 183px;
}

.menu {
  display: flex;
  gap: 65px;
  margin-left: 90px;
  margin-right: 90px;
}

.text-header {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}

.contacts {
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.language {
  display: flex;
  margin-left: 64px;
  align-items: center;
  gap: 5px;
}

.albums {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

  .album {
    display: flex;
    flex-direction: column;
    align-items: center;

    .info-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: -5px;
      align-self: stretch;
      width: auto;

      .group-date {
        font-size: 16px;
        opacity: 0.5;
      }

      .name-album {
        font-size: 18px;
      }
    }
  }
}

.slider-dot-control {
  width: 100%;
  bottom: 0;
  text-align: center;

  label {
    margin-top: 30px;
    cursor: pointer;
    border-radius: 11px;
    display: inline-block;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    opacity: 0.5;
    @include transition(all 0.3s);

    &:hover {
      background: #fff;
      opacity: 1;
    }
  }
}

h3 {
  width: 35px;
  height: 5px;
  border-radius: 1px;
  border: 0.5px solid #fff;
  opacity: 0.5;
}

.search {
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 20px;
  width: auto;
  padding: 9px 21px 6px 20px;
  align-items: center;
  gap: 165px;
  background: linear-gradient(90deg, #001b40 0%, #000b1a 100%);
  color: #fff;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 170px;
  margin-bottom: 70px;

  .title-main {
    font-family: "Milker";
    font-size: 90px;
    text-align: center;
  }

  .decor-title {
    font-size: 22px;
    font-weight: 250;
    text-transform: uppercase;
  }
}

.arrows {
  height: 46px;
  width: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);

  .arrow-left {
    transform: scaleX(-1);
  }
}

.groups {
  display: flex;
  gap: 34px;
  align-items: end;
  justify-content: center;

  .group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .playlist {
    text-transform: uppercase;
    font-size: 16px;
  }
}

.carousel-music {
  display: flex;
  gap: 100px;
  padding: 50px 0px;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  width: 100%;
  margin-top: 170px;
}

.glass-label {
  display: flex;
  width: max-content;
  justify-content: center;
  gap: 172px;
  padding: 53px 57px;
  align-items: center;
  background-color: #001b40;

  .chiffre {
    font-family: "Milker";
    font-size: 60px;
  }

  .title-chiffre {
    font-size: 18px;
    text-transform: uppercase;
  }

  .example-impact {
    overflow: hidden;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.5;
  }

  .impact {
    display: flex;
    padding: 5px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 0.5px solid #fff;
    background-color: 0;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 20px;
  }

  .text-impact {
    gap: -5px;
  }
}
